<!-- esse codigo ta uma merda, mas ta rodando, fiz alguns styles direto no html. -->

{% extends "base.html" %} {% block content %}
<div class="card">
  <div class="card-header text-center ">
    <h3 class="card-title mb-4 mt-2" style="font-family:Poppins, sans-serif; text-transform: uppercase;" >Fila de Atendimento</h3>
    <span class="badge bg-primary " >{{ fila|length }} Denúncias</span>
  </div>
  <div class="card-body " style=" height: 200px; overflow: auto; overflow-y: scroll; height: 412px; overflow-y: scroll;">
    {% if fila %}
    <div class="table-responsive ">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Tipo</th>
            <th>Local</th>
            <th>Data</th>
            <th>Prioridade</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for denuncia in fila %}
          <tr>
            <td>{{ denuncia.tipo }}</td>
            <td>{{ denuncia.local }}</td>
            <td>{{ denuncia.data }}</td>
            <td>
              {% if denuncia.prioridade == 1 %}
              <span class="badge bg-danger">Alta</span>
              {% elif denuncia.prioridade == 2 %}
              <span class="badge bg-warning">Média</span>
              {% else %}
              <span class="badge bg-info">Baixa</span>
              {% endif %}
            </td>
            <td>
              <form
                method="POST"
                action="{{ url_for('atender') }}"
                class="d-inline"
              >
                <button type="submit" class="btn btn-success btn-sm">
                  Atender
                </button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
<div class="d-flex justify-content-center">
  <div class="alert alert-info text-center px-2 py-3" style="max-width: 100%; width: 100%; max-width: 500px; overflow-y:hidden ;">
    Não há denúncias na fila de atendimento.
  </div>
</div>
{% endif %}
  </div>
</div>
<footer class="footer-historico" style="margin-top: 172px; font-family: Arial, Helvetica, sans-serif;" >
  <div class="container" style="display: flex; justify-content: center; text-align: center; padding: 10px; ">
    <p class="text-center"></p>
     <a href="https://github.com/RodFolio" target="_blank" style="font-size: 14px;">
      <img src="../static/github.png" alt="logo" width="30px" height="30px" style="color: rgb(0, 0, 0);"> RodFolio
    </a>
  </p>
  </div>
</footer>
{% endblock %}
