{% extends "base.html" %}
{% block content %}
<div class="text-center">
  <h1 class="display-5 mt-5" style="font-family: Poppins, sans-serif;" >Sistema de Denúncias de Saneamento</h1>
  <p class="lead">
    Bem-vindo ao sistema de gerenciamento de denúncias de saneamento básico.
  </p>
</div>

<div class="container mt-5">
  <div class="row justify-content-center g-4">
 
    <div class="col-md-4" style="margin-bottom: 40px;">
      <div class="card h-100 text-center">
        <div class="card-body d-flex flex-column align-items-center">
          <i class="bi bi-patch-plus-fill text-primary mb-3" style="font-size: 70px;"></i>
          <h5 class="card-title fs-5" style="font-family: Montserrat, sans-serif;">Nova Denúncia</h5>
          <p class="card-text flex-grow-1">
            Registre uma nova denúncia de problemas de saneamento.
          </p>
          <!-- consegui porra -->
          <a href="{{ url_for('cadastrar') }}" class="btn btn-primary mt-auto" style="width: 10rem;">Registrar</a>
        </div>
      </div>
    </div>
   

    <div class="col-md-4" style="margin-bottom: 40px;">
      <div class="card h-100 text-center">
        <div class="card-body d-flex flex-column align-items-center">
          <i class="bi bi-people-fill text-primary mb-3" style="font-size: 70px;"></i>
          <h5 class="card-title fs-5" style="font-family: Montserrat, sans-serif;">Fila de Atendimento</h5>
          <p class="card-text flex-grow-1">
            Monitore e organize as denúncias pendentes na fila de atendimento.
          </p>
          <a href="{{ url_for('fila_atendimento_view') }}" class="btn btn-primary mt-auto" style="width: 10rem;">Ver Fila</a>
        </div>
      </div>
    </div>

    <div class="col-md-4" style="margin-bottom: 40px;">
      <div class="card h-100 text-center">
        <div class="card-body d-flex flex-column align-items-center">
          <i class="bi bi-search text-dark mb-3" style="font-size: 70px;"></i>
          <h5 class="card-title fs-5" style="font-family: Montserrat, sans-serif;">Buscar Denúncias</h5>
          <p class="card-text flex-grow-1">
            Consulte o histórico de denúncias por região ou bairro.
          </p>
          <a href="{{ url_for('buscar') }}" class="btn btn-primary mt-auto" style="width: 10rem;">Buscar</a>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer-historico" style="margin-top: 185px; font-family: Arial, Helvetica, sans-serif;" >
  <div class="container" style="display: flex; justify-content: center; text-align: center; padding: 10px; ">
    <p class="text-center"></p>
     <a href="#" style="font-size: 14px;">
      <img src="../static/github.png" alt="logo" width="30px" height="30px" style="color: rgb(0, 0, 0);"> RodFolio
    </a>
  </p>
  </div>
</footer>
{% endblock %}
